<!DOCTYPE html>
<html>
<head>
<style>
.card {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 max-width: 600px;
 margin: auto;
 text-align: center;
 font-family: arial;
}
p {
 color: grey;
 font-size: 13px;
 text-align: left;
}
button {
 border: none;
 outline: 0;
 display: inline-block;
 padding: 8px;
 color: #000;
 background-color: #CFEBFF;
 text-align: center;
 cursor: pointer;
 width: 100%;
 font-size: 18px;
}
a {
 text-decoration: none;
 font-size: 13px;
 color: black;
}
button:hover, a:hover {
 opacity: 0.7;
}
</style>
</head>
<body>

<div class="card">
    <p>
    Hi {{username}}, and welcome!<br></p>
    <p > Glad to have you on board.</p>
    <p>Please confirm your account by clicking the button below</p>
    <p><button><a href={{link}}>Confirm Email</a></button></p>
    <p>Once confirmed, you will be able to login into Seal Authors Haven</p>
</div>

</body>
</html>
